/JavaProjects/StateSolucao02/nbproject/private/
/JavaProjects/StateSolucao02/build/
/JavaProjects/StateSolucao03/nbproject/private/
/JavaProjects/StateSolucao03/build/
/JavaProjects/AdapterProblema/build/
/JavaProjects/AdapterProblema/nbproject/private/
/JavaProjects/FactoryMethodProblema/nbproject/private/
/JavaProjects/FactoryMethodProblema/build/
/JavaProjects/FactoryMethodProblema/dist/
/JavaProjects/FactoryMethod_SimpleFactory/nbproject/private/
/JavaProjects/FactoryMethod_SimpleFactory/build/
/JavaProjects/FactoryMethodSolucao/nbproject/private/
/JavaProjects/FactoryMethodSolucao/build/
/JavaProjects/AbstractFactorySolucao/nbproject/private/
/JavaProjects/AbstractFactorySolucao/build/
/JavaProjects/BuilderProblema/nbproject/private/
/JavaProjects/BuilderProblema/build/
/JavaProjects/BuilderSolucao/nbproject/private/
/JavaProjects/BuilderSolucao/build/
/JavaProjects/BuildSolucaoIntermediaria/nbproject/private/
/JavaProjects/BuildSolucaoIntermediaria/build/
