/JavaProjects/StateSolucao02/nbproject/private/
/JavaProjects/StateSolucao02/build/
/JavaProjects/StateSolucao03/nbproject/private/
/JavaProjects/StateSolucao03/build/
/JavaProjects/AdapterProblema/build/
/JavaProjects/AdapterProblema/nbproject/private/
